/* box-img*/
#test-img {
    width: 600px;
    height: 500px;

    box-shadow : 15px 15px 0 rgb(231, 232, 234)
}

/*
<포인트>
의사 요소 없이 구현 가능
간단한 테마 색상을 그림자로 깔아 이미지에 확실한 인상을 줌

<설명>
이미지의 입체감을 주거나 테마 색상과 잘 어우러지는 느낌을 줄 수 있음
박스와 같은 크기로 생성되므로 다른 크기의 음영을 주기 위해서는 의사요소를 사용하여야 한다.
*/
